:root {
    --bg: #262626;
    --bg-light: #3a3a3a;
    --fg: #dab997;
    --acc1: #d65d0e;
    --acc2: #d75f5f;
}

body {
    background-color: var(--bg);
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 15px;
    min-width: 30px;
    padding: 3em;
}

p {
    margin: 10;
    pointer-events: none;
    color: var(--acc1);
}

#clock {
    float: right;
    pointer-events: none;
}

html {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

a {
    color: var(--acc2);
    text-decoration: none;
    margin: 8px;
    pointer-events: auto;
}

.prompt {
    color: var(--fg);
    pointer-events: none;
}

.purple {
    color: var(--acc1);
    pointer-events: none;
}

a:focus,
a:hover {
    font-weight: bold;
}

input {
    background-color: var(--bg);
    border: none;
    color: var(--fg);
    pointer-events: none;
}

input:focus {
    outline: none;
}

li {
    color: var(--acc2);
    margin: 8px;
}

.ls-item {
    color: var(--acc2);
    padding-left: 8px;
    margin: 8px;
}