html {
    font-family: "JetBrains Mono", monospace;
    height: 100%;
    display: table;
    margin: auto;
}

body {
    * {
        font-family: 'JetBrains Mono', monospace;
    }

    background: var(--bg);
    height: 100%;
    display: table-cell;
    vertical-align: middle;

    p {
        color: var(--acc1);
        margin: 10;
        pointer-events: none;
    }

    a {
        color: var(--acc2);
        text-decoration: none;
        margin: 8px;
        pointer-events: auto;
    }

    a:focus, a:hover {
        font-weight: bold;
    }

    .prompt {
        color: var(--fg);
        pointer-events: none;
    }

    .purple {
        color: var(--acc1);
        font: inherit;
        pointer-events: none;
    }

    input, input:focus {
        background-color: var(--bg);
        font: inherit;
        margin: 0;
        border: none;
        color: var(--fg);
        outline: none;
        pointer-events: none;
    }
}