@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-blink {
        animation: blink 2s step-end infinite;
    }
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/* Terminal specific styles */
.terminal-input {
    @apply caret-github-light-text dark:caret-github-dark-text;
}

.terminal-input:focus {
    @apply outline-none shadow-none;
}

.terminal-output {
    @apply transition-colors duration-default ease-default;
}

.terminal-prompt {
    @apply text-github-light-text dark:text-github-dark-text;
}

/* Scrollbar styling */
.overflow-y-auto {
    @apply scrollbar scrollbar-w-2 scrollbar-track-github-light-bg dark:scrollbar-track-github-dark-bg scrollbar-thumb-github-light-border dark:scrollbar-thumb-github-dark-border;
}

.overflow-y-auto::-webkit-scrollbar-thumb:hover {
    @apply bg-github-light-button-hover dark:bg-github-dark-button-hover;
}

:root {
    --gradient-light-start: #ffcc99;
    --gradient-light-end: #abcdef;
    --gradient-dark-start: #80604d;
    --gradient-dark-end: #40506f;
    --gradient-start: var(--gradient-light-start);
    --gradient-end: var(--gradient-light-end);
}

:root.dark {
    --gradient-start: var(--gradient-dark-start);
    --gradient-end: var(--gradient-dark-end);
}

html,
main {
    @apply m-0 min-h-screen;
}

body {
    @apply m-0 min-h-screen;
    position: relative;
    /* Light theme gradient as base */
    background-image: linear-gradient(to bottom right, var(--gradient-light-start), var(--gradient-light-end));
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Dark theme gradient */
    background-image: linear-gradient(to bottom right, var(--gradient-dark-start), var(--gradient-dark-end));
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease-in-out; /* Transition opacity */
    z-index: -1; /* Ensure it's behind content */
}

:root.dark body::before {
    opacity: 1; /* Fully visible in dark mode */
}

@layer base {
    html {
        @apply text-github-light-text dark:text-github-dark-text;
    }
}
